<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signup</title>
</head>
<body>
    <form method="post" action="/signup">


              <!-- Heading -->
              <h4>
                Create an account
              </h4>

              <!-- Subheading -->
              <p >
                Please fill up your information below to sign up.
              </p>

              <!-- First Name -->
              <div >

                <!-- First Name -->

              <!-- Email -->
              <div >

                <!-- Email -->
                <label>Email address*</label>
                <div>
                  <input type="email"  name="email" id="emailStr" required>
                  <div >

                  </div>
                </div>

              </div>

              <!-- Password -->
              <div >

                <!-- Name -->
                <label>Password*</label>
                <div class="input-group">
                  <input type="password"  name="password" minlength="6">
                  <div>

                  </div>
                </div>

              </div>

              <!-- Footer -->
              <div >

                <div >

                  <!-- Button -->
                  <div >
                    <input type="submit"/>
                  </div>

                </div>
              </div> <!-- / .form-row -->
              <!-- Link -->

              </div>
    </form>
    <br>
        <a href="/"><button>signin</button></a>
</body>
</html>