<!DOCTYPE HTML>
<html>
	<head>
		<title>Instagram</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}" />
	</head>
	<body>

		<!-- Wrapper -->
			<div id="wrapper">

        <center>
          <h1>About Me</h1>
          

        </center>


				<!-- Footer -->
					<footer id="footer">
						<p>&copy; MEET's (fake) Instagram. No rights reserved. 
					</footer>

			</div>

		<!-- Scripts -->
			<script src="{{url_for('static',filename='js/jquery.min.js')}}"></script>
			<script src="static/js/jquery.poptrox.min.js"></script>
			<script src="static/js/skel.min.js"></script>
			<script src="static/js/main.js"></script>

	</body>
</html>